.rpt2_cache/**
.vscode/**
.vscode-test/**
coverage/**
node_modules/**
out/**
!out/extension.js
out-test/**
scripts/**
src/**
test/**

.editorconfig
.gitignore
.prettierrc
.travis.yml
jest.config.js
rollup.config.js
rollup.config.dev.js
test.Dockerfile
tsconfig.json
tslint.json
yarn.lock

**/*.log
**/*.svg
**/*.vsix
